APP_NAME=ElDojo Backend API
APP_ENV=development
APP_DEBUG=true
API_V1_PREFIX=/api/v1
DATABASE_URL=mysql+pymysql://eldojo_app:N7_xK9mP2_vQ@127.0.0.1:3306/eldojo_db
AUTH_SECRET_KEY=change-this-in-production-eldojo
AUTH_ALGORITHM=HS256
AUTH_ISSUER=eldojo-backend-api
AUTH_ACCESS_TOKEN_EXPIRE_MINUTES=120
AUTH_REFRESH_TOKEN_EXPIRE_DAYS=30
BACKEND_CORS_ORIGINS=http://localhost:8081,http://127.0.0.1:8081,http://localhost:19006,http://127.0.0.1:19006
UPLOADS_DIR=uploads
UPLOADS_URL_PREFIX=/uploads
